div{
    position: relative;
}

img {
    display: block;
}

#pao-topo{
    position: absolute;
    top: 140px;
    left: calc(50%-476px/2);
    z-index: 0;
}

#queijo{
    position: absolute;
    top: 180px;
    left: calc(50%-521px/2);
    z-index: -1;
}


#carne{
    position: absolute;
    top: 220px;
    left: calc(50%-490px/2);
    z-index: -2;
}


#cebola{
    position: absolute;
    top: 260px;
    left: calc(50%-456px/2);
    z-index: -3;
}

#alface{
    position: absolute;
    top: 300px;
    left: calc(50% - 596px / 2);
    z-index: -4;
}

#tomate{
    position: absolute;
    top: 340px;
    left: calc(50%-501px/2);
    z-index: -5;
}


#ultimo-pao{
    position: absolute;
    top: 380px;
    left: calc(50%-490px/2);
    z-index: -6;
}
